html 
  head 
   script(src = "/client.js")

   body 
    a(href='/searchArtworks') Search Artworks
    |
    |
    |
    a(href='/likedArtworks') Liked Artworks
    |
    |
    |
    a(href='http://localhost:3000/followedArtists') Followed Artists
    |
    |
    |
    a(href='http://localhost:3000/artAdd') Add Artwork
    |
    |
    |
    a(href='http://localhost:3000/workshop') Add Workshop
    |
    |
    |
    a(href='http://localhost:3000/notifications') Notifications
    |
    |
    |
    a(href ='javascript:upgradeAccount()') Upgrade Account
    |
    |
    |
    a(href='http://localhost:3000/logout') Logout Account